@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap');

:root {
  --gradient: linear-gradient(to right, #a894e6, #7e77ee);
  --grey: #f0f0f0;
  --transition: all 0.3s ease-in-out;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Rubik', sans-serif;
  background-color: #e0e5eb;
  height: 100vh;
  display: grid;
  align-items: center;
  justify-items: center;
}

.mobile {
  width: 350px;
  height: 700px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: -5px 5px 10px rgb(0, 0, 0, 0.3);
  display: grid;
  grid-template-rows: 48px 1fr 62px;
}
.mobile__top,
.mobile__bottom {
  align-self: center;
  justify-self: center;
}
.mobile__content {
  background-color: #fff;
}

.rooms {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 20px;
  align-items: center;
  grid-gap: 14px;
  justify-content: center;
 
}
.room {
  cursor: pointer;
  display: grid;
  grid-template-rows: 130px 30px;
  font-size: 16px;
  text-align: center;
  align-content: center;
  justify-content: center;
  background-color: var(--grey);
  border-radius: 12px;
}
.room.selected  {
  background: var(--gradient);
  color: #fff;
}
.room .ic{
  align-self: center;
  opacity: 0.7;
}
/* Страница настроек формулы*/
.settings{
  padding: 0 20px;
  display: none;
}
.settings__tabs{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 94px;
  grid-gap: 14px;
}

.tab {
  cursor: pointer;
  display: grid;
  grid-template-rows: 2fr 1fr;
  font-size: 12px;
  justify-items: center;
  align-items: center;
  background-color: var(--grey);
  border-radius: 12px;
}
.tab.selected  {
  background: var(--gradient);
  color: #fff;
}
.tab .ic{
  align-self: center;
  opacity: 0.7;
}
/*Экраны настроек*/
.settings__screen{
  display: none;
}
.settings__screen.selected{
  display: block;
}
.settings_screen-title{
  margin: 30px 15px;
  text-align: center;
  font-weight: 300;
}
.settings__screen-icon{
  text-align: center;
  opacity: 0.5;
  margin-bottom: 15px;
}

/*UI - Кнопка регулировки темпеатуры*/

.temperature-button{
  cursor: pointer;
  width: 240px;
  height: 240px;
  margin: 0 auto;
  display: grid;
  align-items: center;
  justify-items: center;
  position: relative;
}
.temperature-button__info{
  position: relative;
  font-size: 32px;
  width: 70%;
  height: 70%;
  border-radius: 70%;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center ;
}
.temperature-button__info::before{
  content: "";
  display: block;
  position: absolute;
  left: 4%;
  right: 4%;
  top: 4%;
  bottom: 4%;
  border-radius: 100%;
  opacity: 0.3;
  border: 1px solid #000;

}

.dots-box {
  transform: rotate(5deg);
  transform-origin: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.dots,
.line,
.line-active,
.round,
.separate-lines,
.separate-dots{
  fill: transparent;
  stroke: var(--grey);
  stroke-width: 3px;
  stroke-linecap: round;
  stroke-dasharray: 0 21;
}
.line,
.line-active,
.round{
  stroke-width: 1px;
  stroke-dasharray: 276 276;
  transform: rotate(48deg);
  transform-origin: center;
}
.line-active{
  stroke: black;
  stroke-dasharray: 54 276; /*c 54*/
}
.round{
  stroke-width: 6px;
  stroke-dasharray: 0 276;
  transform: rotate(-240deg); /*-240 - 48*/
}
.separate-lines,
.separate-dots {
  transform-origin: center;
  transform: rotate(60deg);
  stroke: white;
}
.separate-dots{
  stroke-dasharray: 40 313;
}
.separate-lines{
  stroke-dasharray: 53 276;
  transform: rotate(49deg);
}

/*Power*/
.power{
  background: var(--gradient);
  width:44px;
  height: 44px;
  border-radius: 44px;
  align-items: center;
  justify-items: center;
  display: grid;
  padding-bottom: 2px;
  margin: 0 auto;
}
.power.off{
  background: var(--grey);
}

.power-label{
text-align: center;
margin-top: 10px;
font-size: 14px;
font-weight: 300;
}

.save-button{
  cursor: pointer;
  background: var(--gradient);
  color: #fff;
  width: 250px;
  margin: 15px auto 0;
  border-radius: 100px;
  text-align: center;
  padding: 16px;
}

/*Slider*/
.slider {
  cursor: pointer;
  width: 100px;
  height: 250px;
  background-color: var(--grey);
  margin: 0 auto;
  border-radius: 16px;
  overflow: hidden;
  position: relative;
}
.slider__progress {
  pointer-events: none;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--gradient);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: 18px;
  min-height: 30px;
  height: 45%;
}
.slider__progress span {
  pointer-events: none;
}
/*Switch*/

.switch{
  cursor: pointer;
  width: 60px;
  height: 28px;
  background: var(--grey);
  margin: 30px auto 0;
  border-radius: 60px;
  position: relative;
}
.switch.off div{
left: 0;
background: #bbb;
}
.switch div{
  position: absolute;
  left: 52%;
  top: 0;
  width: 28px;
  height: 28px;
  border-radius: 28px;
  background: var(--gradient);
  transition: all 0.3s ease-in-out;
}

/*UI - Components*/
.selectbox {
  cursor: pointer;
  width: 143px;
  margin:0 auto;
  position: relative;
  margin-bottom: 24px;
}
.selectbox.open .ic_arrow {
  transform: rotate(180deg);
}
.selectbox__selected {
  font-size: 18px;
  font-weight: 500;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  background-color: #fff;
}
.ic_arrow {
  display: inline-block;
  font-size: 0.7em;
  margin-left: 10px;
  transform: rotate(0deg);
  transition: var(--transition);
}
.selectbox.open .selectbox__list {
  top: 120%;
  max-height: 200px;
}
.selectbox__list {
  position: absolute;
  top: 0;
  left: -12px;
  right: -12px;
  max-height: 0;
  overflow: hidden;
  padding: 8px 12px;
  border-radius: 3px;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
  z-index: 1;
  transition: var(--transition);
}
.selectbox__item {
  cursor: pointer;
}
.selectbox__item.selected,
.selectbox__item:hover {
  color: #7e77ee;
  font-weight: 600;
}
.selectbox__item:not(:last-child) {
  margin-bottom: 4px;
}



